html {
  background-color: rgb(237, 253, 246);
}

.leftsidebar {
  margin: 0;
  padding: 0;
  width: 100px;
  position: absolute;
  top: 100px;
  left: 6%;
}

.leftsidebar img {
  width: 120x;
  height: 120px;
  display: block;
  padding: 10px;
}

.rightcontent {
  margin: 0;
  padding: 10px;
  height: 400px;
  width: 150px;
  position: absolute;
  top: 100px;
  right: 6%;
}

.centercontent {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100px;
  right: 30%;
  left: 30%;
}

.centercontent .main {
  height: 400px;
  padding: 10px;
  position: absolute;
  left: 10%;
  right: 10%;
}

.centercontent .aboutuslf {
  text-align: justify;
  position: relative;
  bottom: 40px;
}

.centercontent .aboutuslf > img {
  float: right;
  width: 250px;
  padding-left: 20px;
}

.centercontent > h2 {
  text-align: center;
  position: relative;
  bottom: 30px;
}

.centercontent .poem {
  font-size: 150%;
  text-align: center;
}

.centercontent .author {
  font-style: italic;
  text-align: right;
  font-size: 110%;
  position: relative;
  top: 10px;
}

.menu {
  font-family: URW Chancery L, cursive;
  position: absolute;
  top: 40px;
  left: 33%;
  right: 33%;
  text-align: center;
}

.menu a {
  display: block;
  text-align: left;
  padding: 9%;
  position: relative;
  left: 4%;
}

.footer {
  font-style: italic;
  position: absolute;
  left: 88%;
  top: 580px;
}

.menu .dropdown {
  position: relative;
  right: 5%;
  display: inline-block;
  padding-left: 10%;
  padding-right: 10%;
}

.menu .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(211, 126, 126, 0.322);
  min-width: 130px;
}

.menu .dropdown:hover .dropdown-content {
  display: block;
}

@media print {
  html {
    background-color: rgb(255, 255, 255);
  }

  .leftsidebar {
    display: none;
  }

  .rightcontent {
    display: none;
  }

  .footer {
    display: none;
  }
  .menu {
    display: none;
  }
}
